# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# OS/IDEs
.vscode/
.idea/
.DS_Store
Thumbs.db

# Secrets & Credentials
credentials/*.json
token.json
.env

# Application Data
data/*.json
!data/.gitkeep
